shadowsocks = nk1.boom.skin:11000, method=aes-256-cfb, password=Uk92CS, ssr-protocol=auth_aes128_sha1, ssr-protocol-param=441548:D84Cy7, obfs=http_simple, obfs-host=download.windowsupdate.com, fast-open=false, udp-relay=false, tag=🇭🇰 【IEPL】香港 普通 1 - Nearoute
shadowsocks = nk2.boom.skin:12000, method=aes-256-cfb, password=Uk92CS, ssr-protocol=auth_aes128_sha1, ssr-protocol-param=441548:D84Cy7, obfs=http_simple, obfs-host=download.windowsupdate.com, fast-open=false, udp-relay=false, tag=🇭🇰 【IEPL】香港 普通 2 - Nearoute
shadowsocks = nk3.boom.skin:13000, method=aes-256-cfb, password=Uk92CS, ssr-protocol=auth_aes128_sha1, ssr-protocol-param=441548:D84Cy7, obfs=http_simple, obfs-host=download.windowsupdate.com, fast-open=false, udp-relay=false, tag=🇭🇰 【IEPL】香港 普通 3 - Nearoute
shadowsocks = nk4.boom.skin:14000, method=aes-256-cfb, password=Uk92CS, ssr-protocol=auth_aes128_sha1, ssr-protocol-param=441548:D84Cy7, obfs=http_simple, obfs-host=download.windowsupdate.com, fast-open=false, udp-relay=false, tag=🇭🇰 【IEPL】香港 普通 4 - Nearoute
shadowsocks = nk5.boom.skin:15000, method=aes-256-cfb, password=Uk92CS, ssr-protocol=auth_aes128_sha1, ssr-protocol-param=441548:D84Cy7, obfs=http_simple, obfs-host=download.windowsupdate.com, fast-open=false, udp-relay=false, tag=🇭🇰 【IEPL】香港 普通 5 - Nearoute
shadowsocks = nk6.boom.skin:16000, method=aes-256-cfb, password=Uk92CS, ssr-protocol=auth_aes128_sha1, ssr-protocol-param=441548:D84Cy7, obfs=http_simple, obfs-host=download.windowsupdate.com, fast-open=false, udp-relay=false, tag=🇭🇰 【IEPL】香港 普通 6 - Nearoute
shadowsocks = nk7.boom.skin:17000, method=aes-256-cfb, password=Uk92CS, ssr-protocol=auth_aes128_sha1, ssr-protocol-param=441548:D84Cy7, obfs=http_simple, obfs-host=download.windowsupdate.com, fast-open=false, udp-relay=false, tag=🇭🇰 【IEPL】香港 普通 7 - Nearoute
